@model CleanArch.Application.ViewModels.CourseViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container body-content">
    <div class="row course-content">
        @foreach(var course in Model.Courses)
        {
            <div class="course-image-container">
                <a asp-action="ShowCourse" asp-route-id="@course.CourseId">
                    <div class="course-image" style="background:url(@course.ImageUrl);"></div>
                </a>
            </div>
            <span>@course.Name</span>
        }
    </div>
</div>